.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float:right; 
    border: 1px solid aquamarine;
}
.big_img{
    width: 100%;
}
#start,#status{
    font-size: 22px;
}
h4 {
    background-color: white;
    line-height: 2;
    margin: 0px;
}
.instruction_image {
    display: inline-block;
    width: 45%;
}
.modal-dialog{
    width: 90%;
}